/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}











/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{ margin: 0; padding: 0; }
.left{ float: left; }
.right{ float: right; }

@font-face{
    font-family:"ARDECODE";
    src:url(../fonts/ARDECODE.ttf)
}


header{
    background-color: #2a2e33;
    min-height: 100px;
    overflow: hidden;
}

.header_wrapper{
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    
}

footer{
    background-color: #333333;
    height: 455px;
    overflow: hidden;
}

#banner {
    background-color: #00ccff;
    min-height: 520px;
    position: relative;
}

#select_room_type {
    width: 255px;
    height: 45px;
    border-radius: 10px;
    border: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url(../img/down_indicator.jpg) no-repeat ;
    background-position: 5%;
    background-color: white;
    padding-left: 11%;
}

#select_room_type select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

#package_booking {
    background: url(../img/white-_backgroung_image.jpg) no-repeat center center;
    min-height: 600px;
    border-bottom: 2px solid #949698;
    overflow: hidden;
    background-size: cover;
}

#room_type {
    background: url(../img/white-_backgroung_image.jpg) no-repeat center center;
    min-height: 860px;
    overflow: hidden;
    background-size: cover;
}

#testimonial {
    background-color: #e7cb2c;
    min-height: 185px;
    position: relative;
}

.testimonial_wrapper{
    width: 1300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    
}

.logo {
    width: 404px;
    height: 26px;
    padding-top: 42px;
    
    
}

.subtitle {
    font-family: Quicksand;
    font-size: 14pt;
    color: #797b7d;
    
}

.menubar {
    width: 786px;
}

.menubar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

.menubar ul li{
    float: left;
    
}

.menubar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Droid Sans;
    font-size: 13pt;
    padding: 42px 22px;
    display: block;

}

.menubar ul li a:hover{
    background-color: #1e2329;
    padding: 40px 22px;
    border-top: 4px solid #ffd700;
    
}

.banner_caption {
    width: 740px;
    height: 245px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    
}


.welcome_txt {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 27pt;
    color: white;
}

.hello_bold{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 30pt;
    color: white;
}



.caption_title {
    width: 80%;
    margin: 40px auto;
    font-family: Droid Snas;
    font-weight: bold;
    font-size: 50pt;
    color: white;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    padding: 21px 0;
    
}

.facilities {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 27pt;
    color: white;
}

.view_picing {
    background-color: #2a2e33;
    width: 1019px;
    height: 85px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -8%;
}

.form-group {
    float: left;
    margin-left: 15px;
    margin-top: 3px;
    
}

.form-group label{
    font-family: Quicksand;
    font-weight: 400;
    color: #8d7d1b;
    font-size: 13pt;
}

.common_date_style {
    width: 225px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: url(../img/calander_logo.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 5%;
    padding-left: 30px;
    
}

.view_proce_button {
    width: 175px;
    height: 45px;
    background-color: #ffd700;
    font-family: Droid Sans;
    font-weight: bold;
    font-size: 18pt;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
}

.package_booking_title {
    width: 1165px;
    height: 107px;
    text-align: center;
    margin: 95px auto; 
}

.package_booking_title h1{
    font-family: ARDECODE;
    font-size: 60pt;
    color: #2a2e33;
    margin: 0px;
}

.package_booking_title p{
    font-family: Quicksand;
    font-size: 12pt;
    color: #2a2e33;
    
}

.package_slider {
    width: 1035px;
    height: 230px;
    margin: 0 auto;
    
    
}

.left_indicator {
    margin-top: 10%;
}

.single_item {
    float: left;
    width: 225px;
    height: 215px;
    background-color: white;
    border: 3px solid #2a2e33;
    border-radius: 130px;
    margin-left: 6%;
    margin-top: 35px;
}

.right_indicator {
    margin-top: 10%;
}

.room_type_title {
    width: 455px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    
}

.room_type_title h1{
    font-family: ARDECODE;
    font-size: 60pt;
    color: #2a2e33;
    margin: 0px;
    padding-top: 35px;
    
}

.all_room_type {
    width: 1300px;
    height: 580px;
    margin: 35px auto;
    margin-top: 80px;
    
}

.single_type {
    width: 380px;
    height: 320px;
    float: left;
    text-align: center;
    margin-left: 3%;
    
}

.room_img {
}

.room_type_data {
    
}

.room_type_data h1{
    font-family: Quicksand;
    font-weight: normal;
    font-size: 24pt;
    margin: 0px;
}

.room_type_data p{
    font-family: Quicksand;
    font-weight: normal;
    font-size: 10pt;
    margin: 0px;
}

.short_intro {
}

.room_facilities {
    margin-top: 15px;
    
}

.room_facilities img{
    
}

.testimoial_data {
    width: 875px;
    height: 95px;
    float: left;
    padding-top: 45px;
    font-family: Quicksand;
    text-align: center;
    
}

.testimoial_data h1{
    color: white;
    font-weight: 400;
    font-size: 36pt;
    margin: 0px;
}

.comments {
    color: white;
    font-weight: normal;
    font-size: 13pt;
    
}

.author {
    color: white;
    font-weight: normal;
    font-size: 13pt;
}

.person_img {
    position: absolute;
    right: 0;
    bottom: -38%;
    
}


.footer_upper {
    overflow: hidden;
    min-height: 410px;;
    
}

.footer_wrapper{
    width: 1175px;
    height: 188px;
    margin: 0 auto;
    padding-top: 25px; 
}

.about_hotel {
    width: 300px;
    height: 200px;
    
}

.about_hotel h1,.latest_news h1,.join_deluxe h1,.member_area h1 {
    font-family: Droid Sans;
    font-size: 13pt;
    color: #dbdbdb
    
}
.footer_description {
    font-family: Quicksand;
    font-size: 10pt;
    color: #dbdbdb;
    text-align: left;
    margin-top: 15px;
}

.latest_news {
    width: 210px;
    height: 200px;
    margin-left: 10px;
}

.single_news {
    font-family: Quicksand;
    font-size: 10pt;
    color: #dbdbdb;
    text-align: left;
    margin-top: 10px;
}

.date {
    font-family: Quicksand;
    font-size: 12pt;
    color: #e7cb2c;
}

.join_deluxe {
    width: 435px;
    height: 200px;
}

.read_more {
    width: 145px;
    height: 38px;
    border: none;
    border-radius: 10px;
    background-color: #e7cb2c;
    font-family: Quicksand;
    font-size: 12pt;
    color: #36321f;
    font-weight: bold;
    margin-top: 25px;
    
}

.member_area {
    width: 205px;
    height: 200px;
    margin-left: 15px;
}

.member-form-group {
    color: #DBDBDB;
    margin-top: 14px;
}

..member-form-group label{
    font-family: Quicksand;
    font-size: 9pt;
    font-weight: normal;
    color: #dbdbdb;
}

.username {
    border: 1px solid;
    border-radius: 10px;
    background: transparent;
    padding: 6px 0px;
}

.footer_lower {
    height: 45px;
    background-color: #1f1f1f;
}






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
